html {
  font-size: 100%;
}
body {
  padding-top: 70px;
  padding-bottom: 70px;
  background: black;
}

#logo{
  width=10px;
  height=auto;
}
.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}

#bk-leave-tab {
  color: white;
  background-color: limegreen;
}

#logOut{
  margin-top: 5px;
  float: right;
}

#calendar{
  margin-left: 15px;
}

#cancel{
  float:right;
}

#type{
  float:right;
}

#project{
  float: right;
}

.btn-group {
  float: right;
  margin-right: 30px;
  margin-bottom: 5px;
}
